fastapi
uvicorn[standard]
pdfplumber
python-docx
python-multipart
pydantic
sqlalchemy
pymysql
passlib[bcrypt]
python-jose
pymongo
python-dotenv
certifi
openai
sentence-transformers
rapidfuzz
pytesseract
pillow
pandas